{
	"extends": [
		"stylelint-config-twbs-bootstrap"
	],
	"rules": {
		"declaration-property-value-disallowed-list": {
			"border": "none",
			"outline": "none"
		},
		"function-disallowed-list": [
			"lighten",
			"darken"
		]
	}
}
