.yoghbiolinks-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.yoghbiolinks-credits {
  font-size: 87.5%;

  > span:not(.customize-partial-edit-shortcut) {
    opacity: .5;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
