html {
  height: 100%;
}

.yoghbiolinks {

  &-page {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &-main {
    flex-shrink: 0;
  }

  &-footer {
    margin-top: auto;
  }
}
