html {
  height: 100%;
}

.yoghbiolinks {

  &-page {
    display: flex;
    flex-direction: column;
    height: 100%;

    &.admin-bar {
      height: calc(100% - 32px);

      @media screen and (max-width: 782px) {
        height: calc(100% - 46px);
      }
    }
  }

  &-main {
    flex-shrink: 0;
  }

  &-footer {
    margin-top: auto;
  }
}
