.customize-control .yoghbl-slug-control input[type=text] {
    margin-bottom: 8px;
}
.edit-post-post-link__link-post-name {
    font-weight: 600;
}
.css-rvs7bx {
    width: 1em;
    height: 1em;
    margin: 0px;
    vertical-align: middle;
    fill: currentcolor;
}