// scss-docs-start import-stack
// Configuration
@import "functions";
@import "variables";
@import "mixins";

// Layout & components
@import "root";
@import "reboot";
@import "containers";
@import "buttons";

// TODO: Check.
@import "type";

.wp-block-image {
  margin-bottom: 1rem;
}

@import "customizer";
@import "stick-footer";
@import "footer";

.yoghbl-description:not(.yoghbl-empty) {
  margin-top: -16px;
  margin-bottom: 32px;
}
.yoghbl-links {
  position: relative;
  margin-bottom: 32px;

  .customize-partial-edit-shortcut {
    position: absolute;
    top: -30px;
    right: 0;

    @media screen and (max-width: 800px) {
      top: -32px;

      button {
        right: -32px;
      }
    }
  }
}
